.social-media-icons {
    margin-top: 10px;
}

.social-media-icons li {
    display: inline-block;
    padding: 10px;
}

.product-tab .documentations li{
    margin: 15px 0;
    list-style: none;
}

.product-tab .documentations li .fa {
    margin: 0 15px;
}

.contact.footer-form {
    width: 70%;
    float: right;
}
.contact.footer-form .input-field,
.contact.footer-form textarea {
    margin: 10px 0 0;
    padding: 5px;
    background-color: transparent;
    color: #ffffff;
}
.contact.footer-form textarea {
    height: 100px;
}

.contact-person {
    width: 25%;
    float: left;
}
.contact-person img{
    border-radius: 50%;
}

.video-thumbnail {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    height: 300px;
}


.video-thumbnail:hover:after {
    color: #eee;
}

.video-thumbnail img {
    position: absolute;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    width: initial;
    height: initial;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .video-thumbnail img{
        object-fit: contain;
    }
}

.single-featured .img-responsive {
    opacity: 1 !important;
}

.header-middle {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.slider-area {
    margin-top: 2rem;
}



.step { float: left; margin-right: 20px; margin-top: -10px; width: 40px; height: 40px; text-align: center; font-size: 15px; line-height: 40px; border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; /*border: 2px solid #e33a0c;*/ color: #fff; background: #c0a054; }
h3 { font-size:14px; color:#c0a054; line-height:20px;}
.button-holder .button,
.button-holder .button:hover,
.button-holder .button:visited {
    float: right;
    background-color: #c0a054;
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
h2.changecolor	{	color:#c0a054;}
.prevnext a		{	background:#c0a054;font-size:10px; text-decoration: none !important;  color:#fff !important;
    margin-right:2px;padding:3px 8px; border-radius:0px 0px 5px 5px; -moz-border-radius:0px 0px 5px 5px;-webkit-border-radius:0px 0px 5px 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
a,a:visited	{	color:#c0a054}
h2.redtitle	{	padding:9px 20px; width:100%; background:#c0a054; color:#fff;  box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
    margin-bottom:40px;
}

.widget-choosesize .size-content label, .item-size .size-content-custom label {
    border: 1px solid #a8a8a8;
    color: #878787;
    font-weight: normal;
    height: 37px;
    margin-bottom: 10px;
    margin-right: 8px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: linear 0.25s;
    transition: linear 0.25s;
    min-width: 37px;
    width: inherit;
    padding: 0 5px;
}

.widget-choosesize .size-content label span, .item-size .size-content-custom label span {
    display: block;
    margin-top: 8px;
}


.swal-overlay {
    background-color: rgba(192, 160, 84, 0.45);
}

.swal-button--confirm {
    background-color: #c0a054;
}
.swal-button--confirm:not([disabled]):hover {
    background-color: #cbaa57;
}



.comparison {
    margin:0 auto;
    font:13px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    padding:10px;
}

.comparison table {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    border: 0;
    border-bottom:1px solid #CCC;
}

.comparison td, .comparison th {
    border: 0;
    border-right:1px solid #CCC;
    empty-cells: show;
    padding:10px;
}

.compare-heading {
    font-size:18px;
    font-weight:bold !important;
    border-bottom:0 !important;
    padding-top:10px !important;
}

.comparison tbody tr:nth-child(odd) {
    display:none;
}

.comparison .compare-row {
    background:#F5F5F5;
}

.comparison .tickblue {
    color:#0078C1;
}

.comparison .tickgreen {
    color:#009E2C;
}

.comparison th {
    font-weight:normal;
    padding:0;
    border-bottom:1px solid #CCC;
    text-align: center;
}

.comparison tr td:first-child {
    text-align:left;
}

.comparison .qbse, .comparison .qbo, .comparison .tl {
    color:#FFF;
    padding:10px;
    font-size:13px;
    border-right:1px solid #CCC;
    border-bottom:0;
}

.comparison .tl2 {
    border-right:0;
}

.comparison .qbse {
    background:#0078C1;
    border-top-left-radius: 3px;
    border-left:0px;
}

.comparison .qbo {
    background:#009E2C;
    border-top-right-radius: 3px;
    border-right:0px;
}

.comparison .price-info {
    padding:5px 15px 15px 15px;
}
.comparison .price-info img {
    max-width: 100%; max-height: 100px;
}

.comparison .price-was {
    color:#999;
    text-decoration: line-through;
}

.comparison .price-now, .comparison .price-now span {
    color:#ff5406;
}

.comparison .price-now span {
    font-size:32px;
}

.comparison .price-small {
    font-size: 18px !important;
    position: relative;
    top: -11px;
    left: 2px;
}

.comparison .price-buy {
    background:#ff5406;
    padding:10px 20px;
    font-size:12px;
    display:inline-block;
    color:#FFF;
    text-decoration:none;
    border-radius:3px;
    text-transform:uppercase;
    margin:5px 0 10px 0;
}

.comparison .price-try {
    font-size:12px;
}

.comparison .price-try a {
    color:#202020;
}




.material-thumb img{
    object-fit: contain;
}

.material-thumb .price{
    text-align: center;
}

.material-thumb .material-bottom{
    display: flex;
    justify-content: space-between;
}

.material-thumb .material-bottom .material-info p{
    margin-bottom: 5px;
}

.material-thumb .material-bottom .material-buy{
    display: flex;
    align-items: center;
}

.material-thumb .material-bottom .material-buy a{
    display: block;
    border: 1px solid #a8a8a8;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    color: #5f5f5f;
    padding: 5px 20px;
    -webkit-transition: all 0.22s ease 0s;
    transition: all 0.22s ease 0s;
}

@media (max-width: 767px) {
    .comparison td:first-child, .comparison th:first-child {
        display: none;
    }
    .comparison tbody tr:nth-child(odd) {
        display:table-row;
        background:#F7F7F7;
    }
    .comparison .row {
        background:#FFF;
    }
    .comparison td, .comparison th {
        border:1px solid #CCC;
    }
    .price-info {
        border-top:0 !important;

    }

}

@media (max-width: 639px) {
    .comparison .price-buy {
        padding:5px 10px;
    }
    .comparison td, .comparison th {
        padding:10px 5px;
    }
    .comparison .hide-mobile {
        display:none;
    }
    .comparison .price-now span {
        font-size:16px;
    }

    .comparison .price-small {
        font-size: 16px !important;
        top: 0;
        left: 0;
    }
    .comparison .qbse, .comparison .qbo {
        font-size:12px;
        padding:10px 5px;
    }
    .comparison .price-buy {
        margin-top:10px;
    }
    .compare-heading {
        font-size:13px;
    }
}



@media only screen and (max-width: 767px) {
    .header-middle {
        padding: 0;
    }
    .slider-area {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-nav {
        width: 100%;
    }

    .navbar-nav > li {
        width: calc(100% / 5);
    }

    .header-middle .site-logo .logo {
        width: 280px;
    }
    .align-items-center {
        display: flex;
        align-items: center;
    }
}
@media only screen and (max-width: 990px) {

    .video-block.col-md-8 {
        padding: 0 0 15px 0 !important;
    }

    .video-block.col-md-4 {
        padding: 0 0 15px 0 !important;
    }
}
@media only screen and (min-width: 991px) {
    .home01 .featured-collection {
        margin-top: 15px;
    }

    .video-block.col-md-8 {
        padding-left: 0 !important;
    }

    .video-block.col-md-4 {
        padding-right: 0 !important;
    }
}
